@import url("C:\vekr0w\Programs\Study\SoftUni-Front-End\fontawesome-free-5.11.2-web (1)\fontawesome-free-5.11.2-web\css\all.css");

html {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 1.5em;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

#fas{
  font-weight: normal;
}