@media screen and (min-width: 500px) {
  html {
    font-size: var(--font-500px);
  }
}
@media screen and (min-width: 700px) {
  html {
    font-size: var(--font-700px);
  }
}
@media screen and (min-width: 1600px) {
  html {
    font-size: var(--font-1600px);
  }
}
