body {
  height: 100vh;
  margin: 1em;
  display: flex;
}

.form {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.general,
.contact-details,
.address-details {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  padding: 1em;
}

.contact-details {
}
.address-details {
}

.general-table,
.contact-form,
.address-form {
  display: flex;
  flex-flow: column wrap;
  margin: 1em;
}
