* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: inherit;
  font-size: 16px;
  line-height: 1.5;
}

body {
  height: 100vh;
  display: flex;
}
.card {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 0.4em;
  margin: auto;
  padding: 1em;
  box-shadow:  0px 0px 0px 1.5px rgba(0, 0, 0, 0.3);
}
