.container {
  display: flex;
  max-width: 15vw;
  height: 35rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: end;
}

.element {
  border: 1px solid black;
  width: 50%;
  height: 11%;
  margin: 2px;
  padding: 1.5em;
}

.site-span-S {
  order: 0;
}
.site-span-e {
  order: 1;
}
.site-span-m {
}
.site-span-a {
}
.site-span-n {
}
.site-span-t {
}
.site-span-i {
}
.site-span-c {
}
.site-span-H {
}
.site-span-T {
}
.site-span-M {
}
.site-span-L {
}
