@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #5a5a5a;
  background-color: #fafafa;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: normal;
}

.shop-red {
  color: red;
}

.left-ul {
  font-weight: 550;
}

.right-ul {
  font-size: 14px;
  font-weight: 550;
}

.main-picture {
  text-align: center;
  color: white;
  line-height: 1;
}

.main-picture-par {
  font-size: 24px;
}

.main-content-title {
  color: black;
  text-align: center;
  letter-spacing: 2px;
}

.main-content {
  background-color: white;
}

.site-gallery {
  background-color: #ededed;
}

.content-container {
  text-align: center;
}

.site-footer {
  background-color: black;
}

.list-container {
  text-align: center;
}

.fa-circle {
  color: white;
  font-size: 12px;
}

.subscribe-par {
  text-align: center;
}
.subscribe-button {
  background-color: #fa5b3c;
  color: white;
}
