---
layout: main
title: Blogging Like a Hacker
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="site-wrapper">
      <header class="site-header">
        <h1>Vekr0w's title</h1>
      </header>
      <main class="site-main">
        {{ page }}
      </main>
      <footer class="site-footer">
        <p>test</p>
      </footer>
    </div>
  </body>
</html>
